<section class="recent-work">
  
  <div id="recent-work-pixelation" class="pixelation">
    {% for i in (1..16) %}
    <div class="box"></div>
    {% endfor %}
  </div>
  
  <div class="wrapper">

    {% assign work = site.work | sort: "weight", "last" %}
    {% for p in work %}
      {% if p.title != "Work" %}
        <div class="work-showcase">
          <a href="{{p.permalink}}" class="showcase-image">
            {% for i in (1..9) %}
            <div class="box" style="background-color: {{p.color}}"></div>
            {% endfor %}
            <img src="{{p.image}}" alt="{{p.title}}" {% if p.imageset %} srcset="{{p.imageset}}" {% endif %} >
          </a>
          <div class="showcase-description">
            {{ p.summary | markdownify }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
    
  </div>
  
</section>