<section id="contact" class="contact">
  
  <h2>Get in contact</h2>
  <p id="contactinfo">
    <noscript>Please turn on javascript if you'd like to see the contact information<br></noscript>
    <strong>&#77;&#97;&#105;&#108;&#58;&#32;</strong>
    <span id="contactM">&#67;&#108;&#105;&#99;&#107;&#32;&#116;&#111;&#32;&#118;&#105;&#101;&#119;&#32;&#109;&#97;&#105;&#108;&#32;&#97;&#100;&#100;&#114;&#101;&#115;&#115;</span>
    <br>
    <strong>&#80;&#104;&#111;&#110;&#101;&#58;&#32;</strong>
    <span id="contactP">&#67;&#108;&#105;&#99;&#107;&#32;&#116;&#111;&#32;&#118;&#105;&#101;&#119;&#32;&#112;&#104;&#111;&#110;&#101;&#32;&#110;&#117;&#109;&#98;&#101;&#114;</span>
  </p>
</section>
<script type="text/javascript" src="/assets/js/contact.js"></script>