<footer>

  <div id="footer-pixelation" class="pixelation">
    {% for i in (1..9) %}
    <div class="box"></div>
    {% endfor %}
  </div>


  <div class="wrapper">
    <div class="site-map">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/work/">Work</a></li>
        <li><a href="/projectlemon/">Project Lemon</a></li>
        <li><a href="/hackatons/">Hackatons</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/about/#contact">Contact</a></li>
      </ul>
      
    </div>
  
    <div class="social-links">
      <a href="https://www.facebook.com/fredrik.johansson.18488169"><img src="/assets/images/facebook.png" srcset="/assets/images/facebook.png 1x, /assets/images/facebook@2x.png 2x" alt="Facebook"></a><!--
      --><a href="https://twitter.com/F95Johansson"><img src="/assets/images/twitter.png" srcset="/assets/images/twitter.png 1x, /assets/images/twitter@2x.png 2x" alt="Twitter"></a><!--
      --><a href="https://plus.google.com/109303656221928519556"><img src="/assets/images/googleplus.png" srcset="/assets/images/googleplus.png 1x, /assets/images/googleplus@2x.png 2x" alt="Google Plus"></a><!--
      --><a href="https://www.linkedin.com/in/fredrik-johansson-637287114"><img src="/assets/images/linkedin.png" srcset="/assets/images/linkedin.png 1x, /assets/images/linkedin@2x.png 2x" alt="linkedin"></a>
    </div>
  </div>
  
  <div class="wrapper">
    <p class="footnote">© Fredrik Johansson 2016</p>
  </div>
  
</footer>


<!-- Load extra resources -->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>