<section class="banner">
  <div class="wrapper project-lemon-banner">
    <div class="col1-2">
      <img src="/assets/images/project-lemon-logo-white.png" alt="Project Lemon logo" srcset="/assets/images/project-lemon-logo-white.png 1x, /assets/images/project-lemon-logo-white@2x.png 2x">
      <a href="http://projectlemon.github.io/">projectlemon.github.io</a>
    </div>
    
    <div class="col2-2">
      {% include texts/summaries/project-lemon-summary.html %}
      <a class="button filled" href="/projectlemon/">Find out more</a>
    </div>
    
  </div>
  <div class="box"></div>
</section>