<section class="banner">
  <div class="wrapper project-lemon-banner">
    <div class="col1-2">
      <img src="{{ "/assets/images/project-lemon-logo-white.png" | prepend: site.baseurl }}" alt="Project Lemon logo">
      <a href="http://projectlemon.github.io/">projectlemon.github.io</a>
    </div>
    
    <div class="col2-2">
      {% markdown texts/summaries/project-lemon-summary.md %}
      <a class="button filled" href="/projectlemon/">Find out more</a>
    </div>
    
  </div>
  <div class="box"></div>
</section>