<section class="recent-work">
  <h1>Recent Work</h1>
  
  <div id="recent-work-pixelation" class="pixelation">
    {% for i in (1..16) %}
    <div class="box"></div>
    {% endfor %}
  </div>
  
  <div class="wrapper">

    {% for p in site.work %}
      {% assign filename = p.path | split: '/' | last %}
      {% if site.front_page_show_case contains filename %}
        <div class="work-showcase">
          <a href="{{p.permalink}}" class="showcase-image">
            {% for i in (1..9) %}
            <div class="box" style="background-color: {{p.color}}"></div>
            {% endfor %}
            <img src="{{p.image}}" alt="{{p.title}}" {% if p.imageset %} srcset="{{p.imageset}}" {% endif %} >
          </a>
          <div class="showcase-description">
            {{ p.summary | markdownify }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
    
    <!--
    <div id="arcreader-showcase" class="work-showcase">
      <a href="/work/arcreader/" class="showcase-image">
        {% for i in (1..9) %}
        <div class="box"></div>
        {% endfor %}
        
        <img src="/assets/images/arcreader-icon.png"  srcset="/assets/images/arcreader-icon.png 1x, /assets/images/arcreader-icon@2x.png 2x" alt="Arc Reader icon">
      </a>
      <div class="showcase-description">
        {% capture arcreader-summary %}{% include texts/summaries/arcreader-summary.md %}{% endcapture %}
        {{ arcreader-summary | markdownify }}
      </div>
    </div>
    
    <div id="chat-server-showcase" class="work-showcase">
      <a href="/work/chatserver/" class="showcase-image">
        {% for i in (1..9) %}
        <div class="box"></div>
        {% endfor %}
        
        <img src="/assets/images/chat-server-icon.png" alt="Chat Server icon">
      </a>
      <div class="showcase-description">
        {% capture chat-server-summary %}{% include texts/summaries/chat-server-summary.md %}{% endcapture %}
        {{ chat-server-summary | markdownify }}
      </div>
    </div>
    
    
    <div id="symbolism-vs-text-showcase" class="work-showcase">
      <a href="/work/symbolismvstext/" class="showcase-image">
        {% for i in (1..9) %}
        <div class="box"></div>
        {% endfor %}
        
        <img src="/assets/images/symbolism-vs-text-icon.png" srcset="/assets/images/symbolism-vs-text-icon.png 1x, /assets/images/symbolism-vs-text-icon@2x.png 2x" alt="Symbolism Vs Text icon">
      </a>
      <div class="showcase-description">
        {% include texts/summaries/symbolism-vs-text-summary.html %}
      </div>
    </div>
    -->
    
  </div>
  
  <div class="wrapper"><a class="more-work" href="/work">More work</a></div>

</section>