/****************************************************
 *
 * This is all the basic elements which should be 
 * common for all situations
 *
 * © Fredrik Johansson
 * 
 ****************************************************/



/**
 * Text
 */
strong {
  font-weight: $font-weight-bold;
  color: darken($text-color-dark, 10%);
}
.footnote {
  font-family: $header-font-family;
  font-size: $font-size-base;
}
.preamble {
  font-family: $header-font-family;
  font-size: 1.2em;
  font-weight: 700;
  padding-bottom: 1em;
}
.displaynone {
  display: none;
}



/**
 * Pixelation
 */
.pixelation {
  position: relative;
}
.box {
  position: absolute;
  width: $box-size;
  height: $box-size;
}


/**
 * Layout
 */
.col1-2 {
  width: 46%;
  float: left;
  padding: 2%;
}
.col2-2 {
  width: 46%;
  float: right;
  padding: 2%;
}
@include media-mobile() {
  .col1-2 {
    clear: both;
    float: none;
    width: 96%;
  }
  .col2-2 {
    clear: both;
    float: none;
    width: 96%;
  }
}

.banner {
  background-color: $background-color-dark;
  position: relative;

  
  & p {
    color: $text-color-light;
    margin: .6em;
  }
  
  .box {
    background-color: $background-color-dark;
    opacity: .14;
    right: 0;
    
    bottom: -1*$box-size;
    
    @include media-query(550px) {
      width: $box-size/2;
    }
  }
}




/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $font-size-small;
}



/**
 * Lists
 */
li {
  list-style: none;
  font-family: $body-font-family;
  margin: .33em 0;

  > ul, > ol {
    margin-bottom: 0;
  }
}




/**
 * Blockquotes
 */
blockquote {
  color: $text-color-dark;
  border-left: 4px solid $text-color-dark;
  padding-left: 4px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
      margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border-radius: 3px;
  background: #1d1f21;
  color: #c5c8c6
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


