/****************************************************
 *
 * This is the general layout
 *
 * © Fredrik Johansson
 * 
 ****************************************************/
 
/**
 * Header
 */



/**
 * Work
 */
  
.work-showcase {
  margin: $box-size $box-size/2;
  
  @include media-mobile() {
    margin: $box-size/4 auto !important;
    display: table;
  }
  
  @include media-desktop() {
    float: left;
  }
  
  &:first-child {
    margin-left: $box-size;  
  }
  &:last-child {
    margin-right: $box-size;
  }
  
  .showcase-description {
    width: $box-size*3;
  
    h2 {
      text-align: center;
      margin: .4em;
    }
  }

  .showcase-image {
    width: 3*$box-size;
    height: 3*$box-size;
    position: relative;
    display: inline-block;
    
    @import "pixelations/showcase-pixelation";
    
    img {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      display: block;
      margin: auto;
      width: 158px;
      height: 158px;
    }
  }
}
@include media-tablet() {
  .work-showcase {
    display: table;
    margin-right: auto !important;
    margin-left: auto !important;
  
    .showcase-image{
      display: inline-block;
    }
    .showcase-description {
      width: 4*$box-size;
      display: inline-block;
      vertical-align: top;
      margin-left: 20px;
    }
  }
}

#calculator-identity-showcase {
  .box {background-color: #06AC94;}
}
#chat-server-showcase {
  .box {background-color: #AD45D3;}
}
#symbolism-vs-text-showcase {
  .box {background-color: #F39700;}
}
#arcreader-showcase {
  .box {background-color: #de2a39;}
}


/**
 * Recent Work
 */
.recent-work {
  margin-top: 40px;
  overflow: hidden;
}
#recent-work-pixelation {
  width: $box-size;
  margin: auto;  

  .box {
    background-color: #D8D8D8;
  }
  
  @import "pixelations/recent-work-pixelation"
  
}

/**
 * Page
 */
.post {
  
  .left-text {
    float: left;
    width: 60%;
    
    @include media-mobile() {
      float: none;
      width: 100%;
    }
  }
  
  .right-image {
    width: 40%;
    float: right;
    
    @include media-mobile() {
      width: 250px;
    }
  }
}

/**
 * Project Lemon Banner
 */ 
.project-lemon-banner .button {
  float: right;
  margin-top: $box-size/2;
}
@include media-mobile() {
  .project-lemon-banner {
    
    .col1-2 {
      width: 70%;
    }
    .col2-2 {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }
    
    .button {
      margin: $box-size/4;
    }
  }
}
 
/**
 * Project Lemon
 */

/**
 * Contact
 */
.contact {
  margin: $box-size/4;
  text-align: center;

  & h2 {
    line-height: 3;
  }
  & p {
    font-family: $header-font-family;
    font-size: $font-size-medium;
    line-height: 2.7;
    cursor: pointer;
  }
}


/**
 * Footer
 */
footer {
  background-color: $background-color-dark;
  margin-top: $box-size*5/3;
  padding: $box-size/2 0;
  
  @include media-query(550px) {
    margin-top: $box-size*2;
  }

  p, a {
    color: $text-color-light;
  }
  
  .site-map {
    float: left;
    font-size: $font-size-medium;
    display: inline-block;
    margin-left: $box-size/2;
    margin-bottom: $box-size/2;
    
    li {
      font-family: $header-font-family;
      padding-right: $box-size/3;
      float: left;
      @include media-mobile() {
        float: none;
        margin-bottom: 12px;
      }
      
      a:hover {text-decoration: none;}
      &:last-child {padding-right: 0;}
    }
  }
  
  .social-links {
    margin-right: $box-size/2;
    margin-left: $box-size/2;
    float: right;
    
    @include media-mobile() {
      a {
        display: block;
      }
    }
  }
  
  .footnote {
    margin-top: 20px;
    margin-left: $box-size/2;
  }
}

#footer-pixelation {
  position: relative;
  top: -$box-size/2;
  width: 100%;

  .box {
    background-color: $background-color-dark;
  }
  
  @import "pixelations/footer-pixelation";
}


.social-links { 
  display: inline-block;
  
  img {
    width: $box-size;
    height: $box-size;
  }
  @include media-mobile() {
    img {
      width: $box-size*3/4;
      height: $box-size*3/4;
    }
  }
}

